#f {
  font-size: 50px;
}

#f2 {
  font-size: 25px;
}

a {
  color: white;
  font-size: 25px;
  text-align: center;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: white;
}

p {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 20px;
  text-align: justify,center;
}

form {
  color: white;
}

img {
   width: 25%;
}

li {
  color: white;
  line-height: 200%;
}

body {
	text-align: center;
  background-image: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: 100%;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 4px solid #ccc;
	border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 4px solid #555;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  background-color: rgba(13, 110, 139, 0.75);
  border: 4px solid white;
	border-radius: 8px;
  padding: 10px;
}
